{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow">
      <div class="card-header bg-primary text-white text-center">
        <h4>🔐 Login</h4>
      </div>
      <div class="card-body">

        {% if form.errors %}
          <div class="alert alert-danger">
            Username atau password salah.
          </div>
        {% endif %}

        <form method="post">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">Username</label>
            {{ form.username }}
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            {{ form.password }}
          </div>

          <button type="submit" class="btn btn-primary w-100">
            Login
          </button>

        </form>
        <p class="text-center mt-3">
            Belum punya akun?
            <a href="{% url 'register' %}">Register</a>
          </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
