{% extends "base.html" %}
{% block content %}

<h3>{{ task|default:"Tambah Task" }}</h3>

<form method="post">
  {% csrf_token %}

   <div class="mb-3">
    <label class="form-label">Judul</label>
    <input name="title" class="form-control mb-2"
         placeholder="Judul"
         value="{{ task.title|default:'' }}">
  </div>

  <div class="mb-3">
    <label class="form-label">Deskripsi</label>
    <textarea name="description" class="form-control mb-2"
            placeholder="Deskripsi">{{ task.description|default:'' }}</textarea>
  </div>


  <div class="mb-3">
    <label class="form-label">Deadline</label>
    <input type="date" name="deadline"
           class="form-control mb-2"
           value="{{ task.deadline|date:'Y-m-d' }}">
  </div>


  {% comment %} {% if task %}
  <form method="POST" action="{% url 'task_update' task.id %}">
    {% csrf_token %}
    <select name="status">
        <option value="pending">Pending</option>
        <option value="completed">Completed</option>
    </select>
    <button class="btn btn-success">Simpan</button>
</form>

  {% endif %} {% endcomment %}

  <button class="btn btn-success">Simpan</button>
  <a href="{% url 'task_list' %}" class="btn btn-secondary">Batal</a>
</form>

{% endblock %}
